<%- include('partials/header.ejs'); -%>
<link rel="stylesheet" href="styles/login.css" />

<body>
  <div class="auth-card">
    <h1>Login</h1>
    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <% errors.forEach(error => { %>
        <div class="message error"><%= error.message %></div>
      <% }) %>
    <% } %>
    <% if(messages.success_msg) { %>
      <div class="message success"><%= messages.success_msg %></div>
    <% } %>
    <% if (messages.error) { %>
      <div class="message error"><%= messages.error %></div>
    <% } %>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
    <p class="text-center mt-4">
      <a href="/register">Register</a> if you don't have an account
    </p>
  </div>
</body>
